{% extends 'layout.html' %}


{% block links_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Login</title>
{% endblock %}

{% block content %}
<h1>This is login page</h1>
<form method="POST" action="{{ url_for('login') }}">
    {{ form.csrf_token() }}
    <div class="form-group row">
        <label for="inputName3" class="col-sm-2 col-form-label">
            {{ render_field(form.username) }}
        </label>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">
            {{ render_field(form.password) }}
        </label>
      </div>
    <input type="submit" value="Daxil ol" class="btn btn-primary">
</form>

{% endblock %}

{% block links_js %}
    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
{% endblock %}
